:root{
  --main-light: #fff;
  --main-dark: #171717;
  --accent: #FD853A;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-light);
  font-family: Lufga
}
a{
  text-decoration: none;
}

ol, 
ul{
  list-style: none;
}

button{
  font-size: 1.2rem;
}